

{% extends 'base.html' %} {% block page-title %}{{ list_name }}{% endblock %} {% block main-content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ list_name }}</h1>
            </div>
        </div>
        {% if owner_logged_in %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5><a href="{% url 'linkboards-listview' %}">Back to Linkboxes</a></h5>
                </div>
            </div>
            <div class="row">
                <div class='col-md-4'></div>
                <div class="col-md-4"><a class="add-icon btn btn-block btn-success" data-toggle="modal" data-target="#createBookmarkModal"><i class="fa fa-fw fa-1x py-1 fa-plus text-white"></i></a></div>
                <div class='col-md-4'></div>
            </div>
        {% endif %}
        <div id='thumbnail-container' class='row' data-list-slug='{{ list_slug }}'>
            {% for bookmark in bookmarks_list %}
            <div class="bookmark-card col-sm-6 col-md-6" data-bookmark-id='{{ bookmark.id }}'
                data-list-slug='{{ list_slug }}'>
                <div class="bookmark-hovereffect">
                    <div class='bookmark-card-thumbnail-img'>
                        <a href="{{ bookmark.url }}" rel="external" target="_blank" draggable="false">
                            <img class="img-responsive bookmark-thumbnail" src="{{ bookmark.thumbnail_url }}"
                                draggable="false" />
                        </a>
                    </div>
                    {% if owner_logged_in %}
                    <div class="edit-button-overlays">
                        <p class="bookmark-edit-icons">
                            <i class="fas fa-pencil-alt bookmark-edit-icons edit-icon" data-toggle="modal"
                                data-target="#editBookmarkModal"></i>
                            <i class="far fa-trash-alt bookmark-edit-icons delete-icon"></i>
                            <!--i class="far fa-copy bookmark-edit-icons copy-icon"></i-->
                            <i class="fas fa-arrows-alt bookmark-edit-icons move-icon"></i>
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class='bookmark-card-title'>
                    <a class='bookmark-url' href="{{ bookmark.url }}" rel="external" target="_blank" draggable="false">
                        <h3 class="bookmark-title">{{ bookmark.title }}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if owner_logged_in %}
            {% if bookmarks_list %}
                <div class="row">
                    <div class='col-md-4'></div>
                    <div class="col-md-4"><a class="add-icon btn btn-block btn-success" data-toggle="modal" data-target="#createBookmarkModal"><i class="fa fa-fw fa-1x py-1 fa-plus text-white"></i></a></div>
                    <div class='col-md-4'></div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="modal fade" id="editBookmarkModal" tabindex="-1" role="dialog" aria-labelledby="editBookMarkCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LongTitle">Edit Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id='edit-form'>
                        {% csrf_token %}
                        {{ edit_bookmark_form.non_field_errors }}
                        {% for hidden_field in edit_bookmark_form.hidden_fields %}
                        {{ hidden_field.errors }}{{ hidden_field }}
                        {% endfor %}
                        {% for field in edit_bookmark_form.visible_fields %}
                        <div class='form-group'>
                            {{ field.errors }}{{ field.label_tag }}{{ field }}{{ field.help_text }}</div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="edit-modal-close" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                    <button id="edit-modal-save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createBookmarkModal" tabindex="-1" role="dialog"
        aria-labelledby="createBookMarkCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LongTitle">Add Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id='create-form' action='/{{ list_slug }}' method='POST'>

                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}{{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class='form-group'>
                            {{ field.errors }}{{ field.label_tag }}{{ field }}{{ field.help_text }}</div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button id="create-modal-close" type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel</button>
                        <input type='submit' id="create-modal-save" value='Save' class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div>
{% endblock %}

{% block page-specific-js %}
{% load static %}
    <script src="{% static 'js/Sortable.js' %}"></script>
    <script src="{% static 'js/jquery.bookmarks-listview.js' %}"></script>
{% endblock %}