{% extends 'base.html' %}

{% block page-title %}Welcome!{% endblock %}

{% block main-content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
                <h1>O my friend</h1>
                <p class="mb-3 lead">I hear the buzz of the little world among the stalks, and grow familiar with the
                    countless indescribable forms of the insects and flies</p>
            </div>
            <div class="col-lg-6"> <img class="img-fluid d-block" src="https://static.pingendo.com/cover-moon.svg">
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>A wonderful serenity</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 p-4">
                <div class="row">
                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block"
                            src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                    <div class="col-9">
                        <p class="lead mb-1"> <b>#1</b> </p>
                        <p class="mb-0">A wonderful serenity has taken possession of my entire soul.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4">
                <div class="row">
                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block"
                            src="https://static.pingendo.com/img-placeholder-4.svg"> </div>
                    <div class="col-9">
                        <p class="lead mb-1"> <b>#2</b> </p>
                        <p class="mb-0">I am alone, and feel the charm of existence in this spot.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4">
                <div class="row">
                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block"
                            src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
                    <div class="col-9">
                        <p class="lead mb-1"> <b>#3</b> </p>
                        <p class="mb-0">I should be incapable of drawing a single stroke.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4">
                <div class="row">
                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block"
                            src="https://static.pingendo.com/img-placeholder-3.svg"> </div>
                    <div class="col-9">
                        <p class="lead mb-1"> <b>#4</b> </p>
                        <p class="mb-0">I throw myself down among the tall grass by the trickling stream.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4">
                <div class="row">
                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block"
                            src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                    <div class="col-9">
                        <p class="lead mb-1"> <b>#5</b> </p>
                        <p class="mb-0">I lie close to the earth, a thousand unknown plants.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-4">
                <div class="row">
                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block"
                            src="https://static.pingendo.com/img-placeholder-4.svg"> </div>
                    <div class="col-9">
                        <p class="lead mb-1"> <b>#6</b> </p>
                        <p class="mb-0">When I hear the buzz of the little world among the stalks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}