{% extends 'base.html' %}

{% block page-title %}Login{% endblock %}

{% block main-content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Sign Up</h1>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <form class="">
                        <div class="form-group"> <label>Email address</label> <input type="email" class="form-control" placeholder="Enter email"> </div>
                        <div class="form-group"> <label>Password</label> <input type="password" class="form-control" placeholder="Password"> </div>
                        <div class="form-group"> <label>Varify Password</label> <input type="password" class="form-control" placeholder="Verify Password"> </div> <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row"></div>
    </div>
</div>
{% endblock %}